[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

bpython = "*"
numpy = "==1.14"
pandas = "==0.19.1"
scikit-learn = "*"
tabulate = "==0.7.7"
scipy = "*"
jupyter = "*"
"pymc3" = "*"
matplotlib = "*"
theano = "*"
seaborn = "*"


[dev-packages]



[requires]

python_version = "3.6"
